.filter-page {
  background-color: #f9f9f9;
  height: 100vh;
  position: -webkit-sticky;
}
.filter-page-slide {
  height: 90vh;
  position: relative;
}
.filter-page-slide::-webkit-scrollbar {
  width: 5px;
}
.filter-page-slide::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.422);
}
.filter-page-slide::-webkit-scrollbar-thumb {
  background-color: rgba(115, 115, 115, 0.392);
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.422);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(115, 115, 115, 0.392);
  border-radius: 8px;
}
.card-area {
  width: 827px;
}
.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 306px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #8ad6e4;
  width: 306px;
  z-index: 1;
  margin: auto;
}

.slider__range {
  background-color: #5be6ff;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #000;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 306px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
.cardButton {
  height: 40px;
  width: 170px;
  background-color: #1e90a5;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.25);
}

.label {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.input-group {
  margin-bottom: 2rem;
}
.label-range {
  margin-bottom: 2.5rem;
}
.background-footer {
  background-image: url("../../Assests/My project (1) 1.png");
  background-color: rgb(189, 223, 229);
  background-blend-mode: overlay;
  background-position: right;
  background-repeat: no-repeat;
  height: 372px;
}
.footer-font {
  color: #2f2f2f;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
}
.footer-title {
  color: rgba(30, 144, 165, 1);
  font-weight: 500;
  font-size: 15px;

  line-height: 22.5px;
}
.footer-bg {
  background: #bddfe5;
}
.border-footer {
  border-top: 3px solid rgba(30, 144, 165, 1);
  margin: auto;
  max-width: 1328px;
}
.b-left {
  border-left: 1px solid #000000;

  height: 34px;
}

.product {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.productInput {
  height: 18px;
  width: 18px;
  background-image: url("../../Assests/check_box_outline_blank_24px.png");
  border-radius: 3px;
  position: relative;
}

.active {
  height: 18px;
  width: 18px;
  background-image: url("../../Assests/check_box_outline_blank_24fghpx.png");
  border-radius: 3px;
  position: relative;
}
.productInputBefore {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.productInputAfter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.productInput > input {
  appearance: none;
}
.productInput,
.product > label {
  cursor: pointer;
}
.detailsPage {
  background: #f9f9f9;
}
.detailsPageLine {
  border: 1px solid #b7b7b7;
  width: 305px;
  margin-top: 4px;
}
.detailsPageLineTwo {
  border: 1px solid #b7b7b7;
  width: 205px;
  margin-top: 4px;
}

.footer-contact {
  color: rgba(47, 47, 47, 1);
  font-weight: 500;
  line-height: 22.5px;
  font-size: 15px;
}
